* {
    margin: 0px;
    padding: 0px;
}

body {
  font-size: 50px;
  text-align: center;
  font-family: "Micro 5", sans-serif;
  background-image: url("images/background.jpg");
  background-repeat: repeat;
}

#chicken-title {
    color: rgb(255, 0, 0);
    text-shadow: 0px 4px 4px black;
    transform: scale(1);
    animation: pulse 1.8s infinite;
}

#description {
    color: rgb(255, 0, 0);
    text-shadow: 0px 4px 4px black;
}

#score-container {
    color: rgb(255, 0, 0);
    text-shadow: 0px 4px 4px black;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}

#chicken-image {
    width: 50px;
    height: 50px;
    display: none;
}

#apple-image {
    width: 50px;
    height: 50px;
    display: none;
}

#canvas {
    width: 700px;
    height: 500px;
    box-shadow: 0px 0px 10px 5px black;
}

#chicken-paragraph {
    width: 30px;
    height: 30px;
    padding-right: 10px;
}

#apple-paragraph {
    width: 30px;
    height: 30px;
}